@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-white font-sans antialiased;
  }
}
/* Flip-Card-Helfer */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
}